:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --degr: 0deg;
  --main-color: #000;
  --alt-color: #fff;
  --transition-time: 0.5s;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background: linear-gradient(135deg, #fff 0%, #000 75%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-position var(--transition-time);

  @media (max-width: 1600px) {
    font-size: 16px;
  }
}

*{

  transition: var(--transition-time);

}

:root[theme=dark]{

background-position: 100% 100%;
--main-color: #fff;
--alt-color: #000;

}

body {
  margin: 0;
}

html, body {
  overflow-x: hidden; /* Corta qualquer elemento que vaze para as laterais da tela */
  width: 100%;
  position: relative;
}

#root {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
